{% load static %}
{% block main %}

{% include "admin_home.html" %}
<br/><br/>
<div class="form-container">
    <form action="{% url 'viewblogs' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %} 

        <label for="video_file">Upload Blog</label>
        <input type="file" id="video_file" name="video_file" accept="video/*">
        <video id="preview" controls style="display:none; max-width: 200px; margin-top: 10px;"></video>
        
        <label for="description">Introduction of blog</label>
        <textarea id="description" name="description" rows="4" cols="50" placeholder="Enter description..."></textarea>
        
        <input type="submit" value="Submit">
    </form>
</div>
<script>
    document.getElementById('video_file').addEventListener('change', function() {
        var file = this.files[0];
        if (file) {
            var reader = new FileReader();
            reader.onload = function(event) {
                document.getElementById('preview').src = event.target.result;
                document.getElementById('preview').style.display = 'block';
            };
            reader.readAsDataURL(file);
        } else {
            document.getElementById('preview').src = '';
            document.getElementById('preview').style.display = 'none';
        }
    });
</script>

{% endblock %}
