{% extends 'index.html' %}
{% block title %}Events | ASREC{% endblock %}

{% block content %}
<body>
<div class="section-animate bg-coming-soon">
      
    <div class="banner-info">
      <div class="intro">
        <h1>COMING SOON...</h1>
        <div class="banner">
          This is an official website for Biratnagar Metropolitan, Astronomy &amp; Space Science Study Research Commitee (ASReC). The website is still in development phase. We are launching soon.
        </div>
      </div>
    </div>  
      
  </div>
</body>  
{% endblock %}